.updateTaskContainer {
  background: white;
  padding: 25px;
  max-width: 500px;
  margin: auto;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.updateTaskContainer h2 {
  margin-bottom: 15px;
}

.updateTaskContainer form {
  display: flex;
  flex-direction: column;
}

.updateTaskContainer label {
  text-align: left;
  margin-top: 10px;
  font-weight: 600;
}

.updateTaskContainer input,
.updateTaskContainer select {
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.updateTaskContainer button {
  margin-top: 20px;
  padding: 12px;
  border: none;
  background-color: #aac527; /* Purple */
  color: white;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.updateTaskContainer button:hover {
  background-color: #8aa522;
}

.feedback {
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--secondary-color);
}
