#taskInput {
  width: 250px;
}

#pencil {
  margin-left: 10px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: solid black .25px;
  border-radius: 50%;
}

#pencil:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.saveButton {
  background-color: #10b981;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-top: 5px;
  margin-left: 150px;
  cursor: pointer;
}

.cancelButton {
  background-color: red;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-left: 20px;
  cursor: pointer;
}
