.app {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  margin-top: 80px; /* to allow space for header if needed */
}

/* Optional Global Header (if needed) */
.global-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999; /* Ensures it stays on top */
}

.global-header img {
  height: 70px;
  margin-right: 10px;
}

.global-header h1 {
  font-size: 24px;
  margin: 0;
}

#darkModeToggle {
  position: fixed;
  right: 55px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

#darkModeToggle:hover {
  background-color: #333;
  color: white;
  transition: 0.2s ease;
}
