/* File: App.css */

/* Structure for your main layout */
.app {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  /* padding: 20px; */
  margin-top: 80px; /* space for fixed header if needed */
}

/* Global Header (Navbar) */
.global-header {
  position: fixed;
  top: 0;
  width: 100%;
  /* background-color: var(--primary-color); */
  background: linear-gradient(135deg, #3682ae 0%, #10b981 100%);
  color: white;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999; /* Ensures it stays on top */
}

.global-header img {
  height: 70px;
  width: 70px;
  margin-right: 10px;
}

.global-header h1 {
  font-size: 24px;
  margin: 0;
}

/* Dark Mode override for the global header */
.dark-mode .global-header {
  /* Black gradient for dark mode (modify as you wish) */
  /* background: linear-gradient(135deg, #0b0b0b, #2c2c2c); */
  background: linear-gradient(135deg, #e96074, #382836);

  color: #fff;
}

/* Dark Mode Toggle Button */
#darkModeToggle {
  position: fixed;
  right: 15px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s ease;
}

#darkModeToggle:hover {
  background-color: #333;
  color: white;
}

/* If you want a different style in dark mode for the toggle */
.dark-mode #darkModeToggle {
  background-color: #444;
  color: #fff;
}
